# Ignore specific data file types
*.dat
*.csv
*.hdf5
*.h5
*.root
*.fits
*.out
*.err
# Ignore large binary files
*.bin
*.pkl
*.pickle
# Ignore all data folders
Data/
data/
*/Data/
*/data/
outputs/
submits
*.sif
*Trinity_fullchain/root/bin  
*Trinity_fullchain/root/dev          
*Trinity_fullchain/root/etc   
*Trinity_fullchain/root/lib    
*Trinity_fullchain/root/lib64   
*Trinity_fullchain/root/media  
*Trinity_fullchain/root/opt  
*Trinity_fullchain/root/sbin         
*Trinity_fullchain/root/srv  
*Trinity_fullchain/root/tmp  
*Trinity_fullchain/root/var
*Trinity_fullchain/root/boot  
*Trinity_fullchain/root/environment  
*Trinity_fullchain/root/home  
*Trinity_fullchain/root/lib32  
*Trinity_fullchain/root/libx32  
*Trinity_fullchain/root/mnt    
*Trinity_fullchain/root/proc  
*Trinity_fullchain/root/run   
*Trinity_fullchain/root/singularity  
*Trinity_fullchain/root/sys  
*Trinity_fullchain/root/usr
# Ignore output directory and all its contents
output/
analysis/
.vscode/
CHASM_NuSpacesim/debugging_and_analysis/
input/
*.pcm
*.o
# groptics compiled file
GrOptics/grOptics
# corsika compiled file
corsikaIOreader/corsikaIOreader




# Ignore specific files
